<html>
  <head>
      <title>File upload</title>
      <link href="/static/s3.fine-uploader/fine-uploader-gallery.min.css" rel="stylesheet" type="text/css"/>
      <style>
          .qq-progress-bar-container-selector {
            margin-bottom: -18px;
          }
          .qq-gallery .qq-upload-list li {
            width: 186px;
            max-width: 186px;
            border-radius: 8px;
          }
          .qq-gallery .qq-thumbnail-wrapper {
            text-align: center;
            width: 100%;
            padding-top: 15px;
          }
          body {
            font-family: sans-serif;
          }
      </style>
  </head>
  <body>
    <!-- The element where Fine Uploader will exist. -->
    <div id="fine-uploader">
    </div>

    <!-- Fine Uploader -->
    <script src="/static/s3.fine-uploader/s3.fine-uploader.min.js" type="text/javascript"></script>

    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Upload file(s)</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

    <script>
        var getFileName = function(fileId) {
            return '{{ when }}/' + uploader.getUuid(fileId) + '.' + uploader.getName(fileId);
        }
        var uploader = new qq.s3.FineUploader({
            debug: false,
            workarounds: { iosEmptyVideos: false }, // see https://github.com/FineUploader/fine-uploader/issues/1482#issuecomment-147147199, note the option is incorrectly named in this comment
            autoUpload: true,
            chunking: { enabled: true, concurrent: { enabled: true }},
            resume: {enabled: true},
            objectProperties: { key: getFileName },
            thumbnails: {placeholders: {
                notAvailablePath: '/static/images/file-cloud.png',
                waitingPath:      '/static/images/file-cloud-uploading.png'
            }},
            element: document.getElementById('fine-uploader'),
            request: {
                endpoint: '{{ s3_bucket }}.s3-{{ s3_region }}.amazonaws.com',
                accessKey: '{{ aws_access_key_id  }}'
            },
            signature: {
                endpoint: '/s3/sign'
            },
            uploadSuccess: {
                endpoint: '/s3/success'
            },
            iframeSupport: {
                localBlankPagePath: '/static/success.html'
            },
            retry: {
               enableAuto: true, // defaults to false
               showButton: false
            },
            deleteFile: {
                enabled: true,
                endpoint: '/s3/delete'
            }
        });
    </script>
  </body>
</html>
